
.styleBoxNone {
  border: none;
  background: transparent;
  width: 300px;
  height: 300px;
}
.styleBox {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}


.X {
  background-image: url("../images/X.png");
}

.O {
  background-image: url("../images/O.png");
}
