
.styleBoxNone {
  border: none;
  background: transparent;
  width: 290px;
  height: 290px;
  margin: 3px;
}

div.col-md-4, .styleBox {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
}

.X {
  background: transparent;
  background-image: url("../images/locust.png");
  background-size: cover;
}

.O {
  background: transparent;
  background-image: url("../images/cog.png");
  background-size: cover;
}
