.container {
  padding-left: 150px;
  padding-right: 50px;
}

.styleBoxNone {
  border: none;
  background: transparent;
  width: 300px;
  height: 300px;
  margin: 3px;
}
div.col-md-4, .styleBox {
  width: 300px;
  height: 300px;
  border: 5px solid #590600;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 25px;
  /*background-color: rgba(48, 10, 6, 0.3);*/
}
.X {
  background: transparent;
  background-image: url("../images/good guy image");
  background-size: cover;
}
.O {
  background: transparent;
  background-image: url("../images/bad guy image");
  background-size: cover;
}
.goodGuyImage {
  display: none;
  background-image: url("../images/good guy win image");
  width: 500px;
  height: 280px;
  z-index: 100;
  border-radius: 25px;
  margin-top: 40px;
  padding-top: 10%;
}
.badGuyImage {
  display: none;
  background-image: url("../images/bad guy win image");
  width: 500px;
  height: 218px;
  z-index: 100;
  border-radius: 25px;
  margin-top: 40px;
  padding-top: 10%;
}
#drawImage {
  display: none;
  background-image: url("../images/draw image");
  width: 500px;
  height: 280px;
  z-index: 100;
  border-radius: 25px;
  margin-top: 40px;
  padding-top: 10%;
}

#boxOne {
  border-top: none;
  border-left: none;
}
#boxTwo {
  border-top: none;
}
#boxThree {
  border-top: none;
  border-right: none;
}
#boxFour {
  border-left: none;
}
#boxFive {

}
#boxSix {
  border-right: none;
}
#boxSeven {
  border-left: none;
  border-bottom: none;
}
#boxEight {

  border-bottom: none;
}
#boxNine {
  border-right: none;
  border-bottom: none;
}
